# Ignore all .csv files
*.csv

# Ignore all .xlsx files
*.xlsx

# Ignore all other not related files
*.pdf
*.pptx
*.json
*.docx

# Ignore macOS system files
.DS_Store

# Ignore Jupyter Notebook files
*.ipynb

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
